html {
    height: 100%;
}

@font-face {
    font-family: 'Roboto'; /* Name your font family */
    src: url('roboto.ttf'); /* Locate the .ttf file within your directory*/
}

body {
    min-height: 100dvh;
    margin: 0;
    padding: 0;

    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 40% right 70%;

    display: flex;
    justify-content: space-between;

    color: white;
    paint-order: stroke fill;
    text-shadow: white 1px 1px 5px;
    -webkit-text-stroke: 1px #0C0C11;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
}

.index ul {
    display: flex;
    flex-direction: column;

    font-size: 25px;
}

#home {
    font-size: 50px;
}

.footer_elements,
.language {
    font-size: 15px;
}

.welcome {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;

    font-family: Helvetica;
    font-size: 80px;
}

.right {
    padding: 60px;
}