html {
    height: 100%;
}

@font-face {
    font-family: 'Roboto'; /* Name your font family */
    src: url('roboto.ttf'); /* Locate the .ttf file within your directory*/
}

body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 40% right 70%;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding: 15px;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.4px #3D4E3C;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.index ul {
    display: flex;
    flex-direction: column;
}

.index_elements {
    font-size: 25px;
}

.footer_elements,
.language {
    font-size: 20px;
}

.language {
    margin: 30px;
}

.middle {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}


#home {
    font-size: 50px;
    text-decoration: underline white 2px;
}
