html {
    height: 100%;
}

@font-face {
    font-family: 'Roboto'; /* Name your font family */
    src: url('roboto.ttf'); /* Locate the .ttf file within your directory*/
}

body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 40% right 70%;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding: 15px;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1.5px #0C0C11;
    paint-order: stroke fill;
    text-shadow: white 1px 1px 5px;
    background-image:
}

ul {
    list-style: none;
    padding: 0px;
    margin: 60px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.index ul {
    display: flex;
    flex-direction: column;
}

.index_elements {
    font-size: 25px;
}

.footer_elements,
.language {
    font-size: 15px;
}

.language {
    margin: 60px;
}

.middle {
    display: flex;
    flex: 1;
    margin-left: 60px;
    font-family: Helvetica;
    font-size: 80px;
    align-items: center;
}

#home {
    font-size: 50px;
}

